<h3>T1 Marks<%= T1 %></h3>
<h3>T2 Marks<%= T2 %></h3>
<h3>T3 Marks<%= T3 %></h3>
<h3>T4 Marks<%= T4 %></h3>
<h3>Total Marks = <%= Total%></h3>
<% if(Total>36){%>
    <b>PASS</b>
<%}else{%>
    <b>FAIL</b>
<%}%>